@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.sidebar {
  background-color: palegreen;
  grid-column: 1;
  padding: 20px 0 0 20px;
}

.sidebar h1 {
  margin-bottom: 70px;
  border-bottom: 2px solid black;
  width: 28%;
}

.form-title,
.form-author,
.form-page,
.form-read-status {
  display: flex;
  gap: 10px;
}

.main {
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: stretch;
}

.card {
  padding: 40px;
  max-width: 100%;
  border: 2px solid palegreen;
  height: 20%;
}

.btn-container {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.read-status-btn,
.form-submit button {
  background-color: #22c55e;
  border: 2px solid black;
  padding: 3px 6px;
}

.delete-btn {
  background-color: #dc2626;
  border: 2px solid black;
  padding: 3px 8px;
}

.delete-btn:hover,
.read-status-btn:hover,
.form-submit button:hover {
  color: white;
}
